#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.custom-navbar {
  background-color: #5153b0;
  color: white;
}

.custom-footer {
  background-color: #5153b0;
  color: white;
  text-align: right;
  padding-right: 4%;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px); 
}

.login-card {
  width: 500px;
  max-width: 90%;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.login-card label {
  text-align: left;
  display: block;
}

.login-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.custom-btn {
  background-color: #52d45f !important;
  color: rgb(255, 255, 255) !important;
  
}

.dashboard-wrapper {
  width: 70vw;
  max-width: 1200px;
  min-width: 320px;

  margin-left: auto;
  margin-right: auto;
  margin-top: -300px;   

  font-size: 1.1rem;
}

.dropdown-item.delete-btn {
  background-color: #dc3545;
  color: white;
  
}

.dropdown-item.delete-btn:hover {
  background-color: #b02a37;
  color: white;
}

.custom-size-text{
  font-size: 50px;
}

